<META name="description" content="OpenHPI Platform Management Library">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="icon" href="">
<META name="keywords" content="Dague, Sean Dague">
<META name="author" content="Sean Dague">
<style type="text/css">
P {
  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
  FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
  COLOR: #150185
}
A:hover {
  COLOR: red; TEXT-DECORATION: none
}
A:active {
  COLOR: red; TEXT-DECORATION: none
}
.whitelink {
  COLOR: #ffffff
}
.whitelink:link {
  COLOR: #ffffff
}
.whitelink:hover {
  COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:active {
  COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:visited {
  COLOR: #ffffff
}
</style>