<META name="description" content="OpenHPI Platform Management Library">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="icon" href="">
<META name="keywords" content="Dague, Sean Dague">
<META name="author" content="Sean Dague">
<style type="text/css">

BODY { background-color: #e8e8e8 }
P { font-size: 12pt; font-family: Verdana, Arial, Helvetica, sans-serif }
TD { font-size: 12pt; font-family: Verdana, Arial, Helvetica, sans-serif }
A { color: #150185 }
A:hover { color: red; text-decoration: none }
A:active { color: red; text-decoration: none }
.whitelink { color: #ffffff }
.whitelink:link { color: #ffffff }
.whitelink:hover { color: #ffffff; text-decoration: none }
.whitelink:active { color: #ffffff; text-decoration: none }
.whitelink:visited { color: #ffffff }

SPAN.note { color: #cc0000 }

TD.broken { background-color: #ff0000 }
TD.notdone { background-color: #ff8800 }
TD.semifunc { background-color: #ffff00}
TD.functional { background-color: #11ff00}
TD.done { background-color: #009900; color: #ffffff }
TD.na { color: #0022aa }
TD.impossible { background-color: #000000; color: #ffffff}
TD.nodata { background-color: #990099; color: #ffff00 }

TD.Closed { background-color: #009900; color: #ffffff }
TD.Open { background-color: #ffff00 }
TD.Pending { background-color: #11ff00 }
TD.Bad { background-color: #ff0000 }

.strong { font-weight: bold; color: #aa0000 }
DT.announce { font-size: 14pt; font-weight: bold; padding-top: 15}
DD { padding-bottom: 0 }

.author { margin: 0}
.AUTHOR { margin: 0 }
.programlisting { background-color: #aaaaaa; border: 1px; border-color: #000000 }
</style>