<META name="description" content="OpenHPI Platform Management Library">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="icon" href="">
<META name="keywords" content="Dague, Sean Dague">
<META name="author" content="Sean Dague">
<style type="text/css">

BODY { background-color: #e8e8e8 }
P { font-size: 12pt; font-family: Verdana, Arial, Helvetica, sans-serif }
TD { font-size: 12pt; font-family: Verdana, Arial, Helvetica, sans-serif }
A { color: #150185 }
A:hover { color: red; text-decoration: none }
A:active { color: red; text-decoration: none }
.whitelink { color: #ffffff }
.whitelink:link { color: #ffffff }
.whitelink:hover { color: #ffffff; text-decoration: none }
.whitelink:active { color: #ffffff; text-decoration: none }
.whitelink:visited { color: #ffffff }

SPAN.note { color: #cc0000 }

TD.broken { background-color: #ff0000 }
TD.notdone { background-color: #ff8800 }
TD.semifunc { background-color: #ffff00}
TD.functional { background-color: #11ff00}
TD.done { background-color: #009900; color: #ffffff }
TD.na { color: #0022aa }
TD.impossible { background-color: #000000; color: #ffffff}
TD.nodata { background-color: #990099; color: #ffff00 }

TD.Closed { background-color: #009900; color: #ffffff }
TD.Open { background-color: #ffff00 }
TD.Pending { background-color: #11ff00 }
TD.Bad { background-color: #ff0000 }

.strong { font-weight: bold; color: #aa0000 }
DT.announce { font-size: 16pt; font-weight: bold; padding-top: 15}
DT.name { font-weight: bold; padding-top: 10}
DD { padding-bottom: 0 }

TABLE.report {width: 600; border-width: thin; border-style: solid}
TR.function {font-size: larger; font-weight: bold}
TR.file {font-size: largest; font-weight: bold}
TR.na {color: grey}
TR.bad {background-color: #e84545}
TR.ok {background-color: #dde244}
TR.good {background-color: #4ae544}
TR.great {background-color: green}
TD.num {align: right}
TR.notexec {background-color: #e84545}
TR.low {background-color: #dde244}
PRE {font-family: san-serif}

.author { margin: 0}
.AUTHOR { margin: 0 }
.synopsis {
	background: #eeeeff;
        border: solid 1px #aaaaff;
        padding: 0.5em;
}
.programlisting {
	background: #d3d3d3;
	border: solid 1px #aaaaaa;
	padding: 0.5em;
}
</style>
