<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>OpenHPI - Bugs &amp; Feature Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="keywords" content="hpi, sa, forum, service, availability, hardware, platform, interface, c, programming, language, open, source, abstraction, layer">
    <meta name="description" content="The OpenHPI Project, an open implementation of the SA Forum's HPI spec.">
    <link rel="stylesheet" href="../openhpi.css" type="text/css">
    <link rel="stylesheet" href="tracker.css" type="text/css">
</head>
<body>
    <div id="banner"><div><h1>The OpenHPI Project</h1><small>Open Hardware Platform Interface</small></div></div>
    <table><tr>
        <!--#include virtual="../sidebar.html" -->
        <td id="maincolumn">
            <div class="mainsegment">
                <h3>Bugs &amp; Features Status</h3>
                <div>
                <strong>Next Release Target is 2.6.1. Expected Release date August 25th, 2006</strong><br><br>
                The following is a summary extract from the sourceforge tracker of bugs and features for OpenHPI categorized by release. Everything is color coded according to the following legend:
                    <table>
                        <tr>
                            <td class="Bad">Open and Unassigned</td>
                            <td class="Open">Open and Assigned</td>
                            <td class="Pending">Pending (Beta quality)</td>
                            <td class="Closed">Closed and Fixed</td>
                        </tr>
                    </table>
		</div>
                ${tracker_data}
            </div>
            <address>Renier Morales - renierm at users dot sf dot net</address>
            <!-- Created: Thu Sep  4 16:51:52 EDT 2003 -->
            <!-- hhmts start -->
            Last modified: ${last_modified}
            <!-- hhmts end -->
        </td></tr>
    </table>
</body>
</html>
