<META name="description" content="OpenHPI Platform Management Library">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="icon" href="">
<META name="keywords" content="Dague, Sean Dague">
<META name="author" content="Sean Dague">
<style type="text/css">

BODY { background-color: #e8e8e8 }
P { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif }
TD { font-size: 12px; font-FAMILY: Verdana, Arial, Helvetica, sans-serif }
A { color: #150185 }
A:hover { color: red; text-decoration: none }
A:active { color: red; text-decoration: none }
.whitelink { color: #ffffff }
.whitelink:link { color: #ffffff }
.whitelink:hover { color: #ffffff; text-decoration: none }
.whitelink:active { color: #ffffff; text-decoration: none }
.whitelink:visited { color: #ffffff }

TR.broken { background-color: red }
TR.semifunc { background-color: orange }
TR.functional { background-color: yellow }
TR.done { background-color: green }
TR.impossible { background-color: black; color: white }

TD.broken { background-color: red }
TD.semifunc { background-color: orange }
TD.functional { background-color: yellow }
TD.done { background-color: green; color: white }
TD.impossible { background-color: black; color: white }
TD.nodata { background-color: purple; color: yellow }

</style>