<!-- Status Template for new components.  This is for HPI 1.0 -->
<!-- status values are: broken, semifunc, functional, done,
impossible, nodata -->
<h2>Component Name</h2>
<table>
<tr><th>HPI Function</th><th>Notes</th></tr>
<tr><td class="broken">saHpiInitialize</td><td></td></tr>
<tr><td class="broken">saHpiFinalize </td><td></td></tr>
<tr><td class="broken">saHpiSessionOpen </td><td></td></tr>
<tr><td class="broken">saHpiSessionClose </td><td></td></tr>
<tr><td class="broken">saHpiResourcesDiscover </td><td></td></tr>
<tr><td class="broken">saHpiRptInfoGet </td><td></td></tr>
<tr><td class="broken">saHpiRptEntryGet </td><td></td></tr>
<tr><td class="broken">saHpiRptEntryGetByResourceId </td><td></td></tr>
<tr><td class="broken">saHpiResourceSeveritySet </td><td></td></tr>
<tr><td class="broken">saHpiResourceTagSet </td><td></td></tr>
<tr><td class="broken">saHpiResourceIdGet </td><td></td></tr>
<tr><td class="broken">saHpiEntitySchemaGet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogInfoGet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogEntryGet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogEntryAdd </td><td></td></tr>
<tr><td class="broken">saHpiEventLogEntryDelete </td><td></td></tr>
<tr><td class="broken">saHpiEventLogClear </td><td></td></tr>
<tr><td class="broken">saHpiEventLogTimeGet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogTimeSet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogStateGet </td><td></td></tr>
<tr><td class="broken">saHpiEventLogStateSet </td><td></td></tr>
<tr><td class="broken">saHpiSubscribe </td><td></td></tr>
<tr><td class="broken">saHpiUnsubscribe </td><td></td></tr>
<tr><td class="broken">saHpiEventGet </td><td></td></tr>
<tr><td class="broken">saHpiRdrGet </td><td></td></tr>
<tr><td class="broken">saHpiSensorReadingGet </td><td></td></tr>
<tr><td class="broken">saHpiSensorReadingConvert </td><td></td></tr>
<tr><td class="broken">saHpiSensorThresholdsGet </td><td></td></tr>
<tr><td class="broken">saHpiSensorThresholdsSet </td><td></td></tr>
<tr><td class="broken">saHpiSensorTypeGet </td><td></td></tr>
<tr><td class="broken">saHpiSensorEventEnablesGet </td><td></td></tr>
<tr><td class="broken">saHpiSensorEventEnablesSet </td><td></td></tr>
<tr><td class="broken">saHpiControlTypeGet </td><td></td></tr>
<tr><td class="broken">saHpiControlStateGet </td><td></td></tr>
<tr><td class="broken">saHpiControlStateSet </td><td></td></tr>
<tr><td class="broken">saHpiEntityInventoryDataRead </td><td></td></tr>
<tr><td class="broken">saHpiEntityInventoryDataWrite </td><td></td></tr>
<tr><td class="broken">saHpiWatchdogTimerGet </td><td></td></tr>
<tr><td class="broken">saHpiWatchdogTimerSet </td><td></td></tr>
<tr><td class="broken">saHpiWatchdogTimerReset </td><td></td></tr>
<tr><td class="broken">saHpiHotSwapControlRequest </td><td></td></tr>
<tr><td class="broken">saHpiResourceActiveSet </td><td></td></tr>
<tr><td class="broken">saHpiResourceInactiveSet </td><td></td></tr>
<tr><td class="broken">saHpiAutoInsertTimeoutGet</td><td></td></tr>
<tr><td class="broken">saHpiAutoInsertTimeoutSet</td><td></td></tr>
<tr><td class="broken">saHpiAutoExtractTimeoutGet</td><td></td></tr>
<tr><td class="broken">saHpiAutoExtractTimeoutSet</td><td></td></tr>
<tr><td class="broken">saHpiHotSwapStateGet </td><td></td></tr>
<tr><td class="broken">saHpiHotSwapActionRequest </td><td></td></tr>
<tr><td class="broken">saHpiResourcePowerStateGet </td><td></td></tr>
<tr><td class="broken">saHpiResourcePowerStateSet </td><td></td></tr>
<tr><td class="broken">saHpiHotSwapIndicatorStateGet </td><td></td></tr>
<tr><td class="broken">saHpiHotSwapIndicatorStateSet </td><td></td></tr>
<tr><td class="broken">saHpiParmControl </td><td></td></tr>
<tr><td class="broken">saHpiResourceResetStateGet </td><td></td></tr>
<tr><td class="broken">saHpiResourceResetStateSet </td><td></td></tr>
</table>

<p>
<!-- place other notes about the current structure here -->
</p>

