td.closed, td.Closed { background-color: #009900; color: #ffffff }
td.open, td.Open { background-color: #ffff00 }
td.pending, td.Pending { background-color: #11ff00 }
td.bad, td.Bad { background-color: #ff0000 }

td.group { padding-top: 10px; font-weight: bold; font-size: 13px }
td.summary, td.status, td.owner {
    background-color: #EEEEEE;
    padding: 2px;
}

